@import '../../config.scss';

.fp {
  &__heading {
    font-family: $font-heading;
    margin-bottom: $gutter/2;
  }
  
  &__allcats {
    margin-bottom: $gutter;
  }
  @media (max-width: $max-width - 1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }
}