@import '../../config.scss';

.fp {
  margin: $gutter;

  &__heading {
    font-family: $font-heading;
  }
  
  @media (max-width: $max-width - 1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }
}