@import '../../config.scss';

.fp {
  margin: $gutter;

  &__heading {
    font-family: $font-heading;
  }
  
  &__allcats {
    margin: $gutter 0;
  }
  @media (max-width: $max-width - 1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }
}