@import '../../config.scss';

.order_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 66%;
  margin: 0 auto;
  @media (max-width: 800px) {
    width: 100%;
}
}

.order_heading {
  font-family: $font-heading;
  margin: $gutter 0;
  align-self: flex-start;
}

.orders {
  width: 100%;
  border-spacing: 0;
  &__head {
    color: $color-background;
    background-color: $color-font;
    text-align: left;

    border-collapse: collapse;
    width: 100%;
  }
  &__th {
    padding: $gutter / 5;
  }
  &__row:nth-child(even) {
    background-color: $color-gray;
  }
  &__link {
    text-decoration: none;
    color: #000;
    padding-bottom: $gutter;
  }
  &__strong {
    padding: $gutter / 5 0;
  }
}

.order_info {
  width: 100%;
  font-family: $font-main;
  &__h1 {
    margin: $gutter 0;
    font-family: $font-heading;
  }
  &__info {
    margin-bottom: $gutter;
  }
  &__row {
    display: flex;
  }
  &__col {
    display: block;
    width: 35%;
  }
  &__label {
    font-weight: 700;
  }
  
}