@import '../../config.scss';

.header {
  background-color: $color-font;
  padding: $gutter;
  margin-bottom: $gutter;

  @media (max-width: $max-width - 1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }

  @media (max-width: 800px) {
    &__content {
      flex-direction: column;     
    }

    &__nav__links {
      justify-content: center;
      padding: $gutter/3;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    &Link {
      font-family: $font-heading;
      color: $color-background;
      text-decoration: none;
    }
  }

  &__nav {
    min-width: 15%;
  }
  &__link { 
    padding: $gutter/3;
    color: $color-background;
    text-decoration: none;
    &--selected {
      font-weight: bold;
    }
  }
}
