@import '../../config';

.order {
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.orderCart {
  &__col {
    margin: $gutter / 2;
    display: flex;
    max-width: 500px;
  }

  &__label {
    width: 50%;    
  }

  &__ul {
    margin: $gutter;
  }
}