@import '../../config.scss';

.register {
  &__col {
    margin: $gutter / 2;
    display: flex;
    max-width: 500px;
  }

  &__label {
    width: 50%;    
  }

  &__link {
    text-decoration: none;
    color: #000;
  }

  &__ul {
    margin: $gutter;
  }
}
