@import '../../config.scss';

.search {
  display: flex;
  padding: $gutter/3 $gutter/3 $gutter/3 0;
  width: 30%;
  @media (max-width: 800px) {
    width: 100%;
  }

  &__label {
    padding: $gutter/3 $gutter/3 $gutter/3 0;
  }

  &__button {
    margin-left: $gutter/3;
  }
}
